services:

  redis_service:
    image: redis:7.0.9
    ports:
      - "6379"
    networks:
      - frontend
    deploy:
      replicas: 4
      restart_policy:
        condition: on-failure

  httpd_service:
    image: httpd:2.4.55
    ports:
      - "8080:80"
    networks:
      - frontend
    deploy:
      replicas: 10
      restart_policy:
        condition: on-failure

  postgres_service:
    image: postgres:15.2
    volumes:
      - db-data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    networks:
      - backend
    environment:
      - POSTGRES_PASSWORD=mypassword
    deploy:
      restart_policy:
        condition: on-failure

networks:
  frontend:
  backend:

volumes:
  db-data:
